<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ACIT 2515 Pygame</title>
  </head>
  <body>
    
   <font size ="+4"><center>Pygame Scores: </center></font>
   <font size ="+4"><center>Latest score: {{ scores["new_score"] }} </center></font>
   <font size ="+4"><center>Highscore: {{ scores["high_score"] }}</center></font>

  </body>
</html>